<p><strong><%= user.name %></strong>, uue parooli genereerimiseks ja vana tühistamiseks kliki <a href="<%= proto %>://<%= hostname %>/reset-password?username=<%- encodeURIComponent(user.id) %>&resetToken=<%= resetToken %>">siia</a>.</p>

<p><small>Said selle kirja, kuna tellisid parooli uuendamise teenuses <a href="<%= proto %>://<%= hostname %>"><%= hostname %></a>.</small></p>
