<p><strong><%= user.name %></strong>, sinu uus parool on <em><%= password %></em></p>

<p><small>Said selle kirja, kuna tellisid parooli uuendamise teenuses <a href="<%= proto %>://<%= hostname %>"><%= hostname %></a>.</small></p>
