<!DOCTYPE html>
<html>
    <head>
        <meta charset="<%- payment.charset.toLowerCase() %>" />
        <title>Example payment usage - <%= bank.name %> - pangalink.net</title>
    </head>
    <body>
        <p><a href="/project/<%= project._id %>/example/send.php">Lae selle rakenduse lähtekood</a></p>
        <form method="post" action="https://pangalink.net/banklink/<%- bank.key %>">

            <!-- include all values as hidden form fields -->
<% payment.fields.forEach(function(field, i){ -%>
            <input type="hidden" name="<%= field.key %>" value="<%= field.value.replace(/^%(RETURN|CANCEL|REJECT)%$/, project.ecUrl || ("https://pangalink.net/project/" + project._id)) %>" />
<% }) %>

            <table>
<% payment.fields.forEach(function(field, i){ -%>
                <tr>
                    <td><strong><code><%= field.key %></code></strong></td>
                    <td><code><%= field.value.replace(/^%(RETURN|CANCEL|REJECT)%$/, project.ecUrl || ("https://pangalink.net/project/" + project._id)) %></code></td>
                </tr>
<% }) %>
                <!-- when the user clicks "Pay" form data is sent to the bank -->
                <tr><td colspan="2"><input type="submit" value="Pay" /></td></tr>
            </table>
        </form>
    </body>
</html>
