<div class="page-header">
    <h2>API</h2>
</div>

<div class="well well-small">
    <% if(user){%>
        Sinu salajane API võti on <strong style="font-family: monospace"><%= user.token %></strong>
    <% } %>
    <% if(!user){%>
        Sisselogitud kasutajale kuvatakse siin pangalink.net salajane API võti
    <% } %>
</div>

<p>Kõikide API päringute lõppu tuleks panna GET parameeter <code>access_token</code>, mille väärtuseks on kasutaja salajane API võti. API päringu sisu (POST ja PUT päringute puhul) peab olema JSON formaadis. Samas formaadis on ka päringu vastus.</p>

<p>Juhul kui päring õnnestub, on vastus järgmisel kujul:</p>

<pre>{
    "success": true,
    "data": &lt;päringu spetsiifilised andmed&gt;
}</pre>

<p>Juhul kui päringus esineb vigu, on vastuseks järgmine objekt:</p>

<pre>{
    "success": false,
    "error": "&lt;ilmnenud vea kirjeldus&gt;"
}</pre>

<h3>Makselahenduse andmete pärimine</h3>

<p>Selle meetodiga saab küsida makselahenduse andmeid. Vajalik on teada makselahenduse <code>id</code> väärtust.</p>

<h4>GET /api/project/:project_id</h4>

<h5>Vastusparameetrid</h5>

<ul>
    <li><code>id</code> - makselahenduse identifikaator</li>
    <li><code>client_id</code> - kliendi tunnuskood pangale edastamiseks</li>
    <li><code>payment_url</code> - maksevormi aadress</li>
    <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
    <li><code>name</code> - Makselahenduse nimi</li>
    <li><code>description</code> - Makselahenduse kirjeldus (kui on määratud)</li>
    <li><code>account_owner</code> - Konto omaniku nimi (kui on määratud)</li>
    <li><code>account_nr</code> - Konto number (kui on määratud)</li>
    <li><code>key_size</code> - Privaatvõtme suurus (kui on määratud)</li>
    <li><code>return_url</code> - Tagasisuunamise aadress peale makse sooritamist (kui on määratud)</li>
    <li><code>expiration_time</code> - sertifikaadi aegumise aeg</li>
    <li><code>private_key</code> - salajane võti panka mineva makse andmete allkirjastamiseks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>bank_certificate</code> - panga sertifikaat pangast saabunud maksekinnituse kontrolliks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>mac_key</code> - Salajane MAC võti päringute allkirjastamiseks ja valideerimiseks (ainult Nordea puhul)</li>
    <li><code>algo</code> - Allkirjastamise algoritm (ainult Nordea puhul)</li>
    <li><code>auto_response</code> - Juhul kui on tõene, siis pank teeb automaatpäringu makse infoga (ainult Nordea puhul)</li>
</ul>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XGET "https://<%= hostname %>/api/project/<%= list[0] && list[0]._id || "516e93fd9f89270f97000001" %>?access_token=<%= user && user.token || 12345%>"</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": {
        "id": "516e93fd9f89270f97000001",
        "client_id": "uid402268",
        "payment_url": "https://pangalink.net/banklink/ipizza",
        "type": "ipizza",
        "name": "Testkonto",
        "expiration_time": "Sun, 25 Jun 2023 09:26:49 GMT",
        "key_size": 1024,
        "private_key": "-----BEGIN RSA PRIVATE KEY----- ...",
        "bank_certificate": "-----BEGIN CERTIFICATE----- ..."
    }
}</pre>

<h3>Uue makselahenduse loomine</h3>

<p>Selle meetodiga saad luua uusi makselahendusi. Edastades makselahenduse andmed, saad vastu loodud makselahenduse kasutajatunnuse ning võtmed.</p>

<h4>POST /api/project</h4>

<h5>Sisendparameetrid</h5>

<ul>
    <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
    <li><code>name</code> - Makselahenduse nimi</li>
    <li><code>description</code> - Makselahenduse kirjeldus. Pole kohustuslik</li>
    <li><code>account_owner</code> - Konto omaniku nimi. Vajalik ipizza tüüpi pankade puhul teenuse 1002 kasutamiseks. Pole kohustuslik, vaikimisi kasutatakse makselahenduse nime</li>
    <li><code>account_nr</code> - Konto number. Vajalik ipizza tüüpi pankade puhul teenuse 1002 kasutamiseks. Pole kohustuslik, vaikimisi genereeritakse suvaline number</li>
    <li><code>key_size</code> - Avaliku võtme süsteemi kasutavate pankade puhul privaatvõtme suurus (üks nimekirjast: 1024, 2048, 4096). Pole kohustuslik, vaikimisi kasutatakse 1024</li>
    <li><code>return_url</code> - Tagasisuunamise aadress peale makse sooritamist. Kohustuslik vaid Pankade Kaardikeskuse valiku korral, muudel juhtudel ei kasutata</li>
    <li><code>algo</code> - Allkirjastamise algoritm (üks valikust: md5, sha1). Pole kohustuslik. Vajalik vaid Nordea valiku korral, muudel juhtudel ei kasutata. Kui on määramata, kasutatakse väärtust "MD5"</li>
    <li><code>auto_response</code> - Kas pank peaks tegema automaatpäringu makse teostamisel (<em>true</em> või <em>false</em>. Pole kohustuslik. Vajalik vaid Nordea valiku korral. Vaikimisi automaatpäringut ei tehta</li>
</ul>

<h5>Vastusparameetrid</h5>

<ul>
    <li><code>id</code> - makselahenduse identifikaator</li>
    <li><code>client_id</code> - kliendi tunnuskood pangale edastamiseks</li>
    <li><code>payment_url</code> - maksevormi aadress</li>
    <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
    <li><code>name</code> - Makselahenduse nimi</li>
    <li><code>description</code> - Makselahenduse kirjeldus (kui on määratud)</li>
    <li><code>account_owner</code> - Konto omaniku nimi (kui on määratud)</li>
    <li><code>account_nr</code> - Konto number (kui on määratud)</li>
    <li><code>key_size</code> - Privaatvõtme suurus (kui on määratud)</li>
    <li><code>return_url</code> - Tagasisuunamise aadress peale makse sooritamist (kui on määratud)</li>
    <li><code>expiration_time</code> - sertifikaadi aegumise aeg</li>
    <li><code>private_key</code> - salajane võti panka mineva makse andmete allkirjastamiseks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>bank_certificate</code> - panga sertifikaat pangast saabunud maksekinnituse kontrolliks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>mac_key</code> - Salajane MAC võti päringute allkirjastamiseks ja valideerimiseks (ainult Nordea puhul)</li>
    <li><code>algo</code> - Allkirjastamise algoritm (ainult Nordea puhul)</li>
    <li><code>auto_response</code> - Juhul kui on tõene, siis pank teeb automaatpäringu makse infoga (ainult Nordea puhul)</li>
</ul>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XPOST "https://<%= hostname %>/api/project?access_token=<%= user && user.token || 12345%>" \
    --data '{
        "type": "ipizza",
        "name": "Testkonto"
    }'</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": {
        "id": "51cc0559fa66e5522c000003",
        "client_id": "uid402268",
        "payment_url": "https://pangalink.net/banklink/ipizza",
        "type": "ipizza",
        "name": "Testkonto",
        "expiration_time": "Sun, 25 Jun 2023 09:26:49 GMT",
        "key_size": 1024,
        "private_key": "-----BEGIN RSA PRIVATE KEY----- ...",
        "bank_certificate": "-----BEGIN CERTIFICATE----- ..."
    }
}</pre>

<h3>Makselahenduse kustutamine</h3>

<p>Selle meetodiga saab kustutada makselahenduse ning sellega seotud andmed.</p>

<h4>DELETE /api/project/:project_id</h4>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XDELETE "https://<%= hostname %>/api/project/<%= list[0] && list[0]._id || "516e93fd9f89270f97000001" %>?access_token=<%= user && user.token || 12345%>"</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": true
}</pre>

<h3>API muudatuste ajalugu</h3>

<ul>
    <li><strong>27.06.2013</strong> - lisatud esimene API versioon, lubatud makselahenduste GET, POST ja DELETE</li>
</ul>