<div class="page-header">
    <h2><%= title %> API</h2>
</div>

<div class="well well-small">
    <% if(user){%>
        Sinu salajane API võti on <strong style="font-family: monospace"><%= user.token %></strong>
    <% } %>
    <% if(!user){%>
        <a href="/login">Logi sisse</a>, et näha siin oma salajast API võtit
    <% } %>
</div>

<p>Pangalink.net API koosneb kahest osast - esiteks lisaparameetritest, mida on võimalik kaasa anda maksevormiga ning teiseks HTTP JSON API, mis võimaldab automatiseerida makselahenduste loomisega seonduvat.</p>

<h3>Lisaparameetrid</h3>

<p>Järgmised POST parameetrid saab kaasa panna tavalise maksevormiga. Näiteks kui tahad ette määrata maksja nime, siis võid tavalistele <code>VK_*</code> parameetritele panna maksevormi juurde ka parameetri <code>PANGALINK_NAME</code>, mis määrabki maksevormis maksja nime.</p>

<ul>
    <li><code>PANGALINK_NAME</code> - määrab ära maksja nime maksevormis (vaikimisi "Tõõger Leõpäöld")</li>
    <li><code>PANGALINK_ACCOUNT</code> - määrab ära maksja konto maksevormis (vaikimisi seotud panga tüübiga)</li>
    <li><code>PANGALINK_AUTOPAY</code> - automaatselt aktsepteerib/keeldub maksest ja suunab tagasi kaupmehe lehele. Võimalikud väärtused on:
        <ul>
            <li><code>accept</code> - makse teostatakse</li>
            <li><code>cancel</code> - makse katkestatakse</li>
            <li><code>reject</code> - makse lükatakse tagasi tehnilistel põhjustel</li>
        </ul>
    </li>
</ul>

<h3>HTTP API</h3>

<p>Kõikide API päringute lõppu tuleks panna GET parameeter <code>access_token</code>, mille väärtuseks on kasutaja salajane API võti. API päringu sisu (POST ja PUT päringute puhul) peab olema JSON formaadis. Samas formaadis on ka päringu vastus.</p>

<p>Juhul kui päring õnnestub, on vastus järgmisel kujul:</p>

<pre>{
    "success": true,
    "data": &lt;päringu spetsiifilised andmed&gt;
}</pre>

<p>Juhul kui päringus esineb vigu, on vastuseks järgmine objekt:</p>

<pre>{
    "success": false,
    "error": "&lt;ilmnenud vea kirjeldus&gt;"
}</pre>

<h3>Makselahenduste nimekiri</h3>

<p>Selle meetodiga saab küsida kasutaja makselahenduste nimekirja.</p>

<h4>GET /api/project</h4>

<h5>GET parameetrid</h5>

<ul>
    <li><code>start_index</code> - millisest kirjest alustada kuvamist (korraga näidatakse kuni 20 kirjet)
</ul>

<h5>Vastusparameetrid</h5>

<ul>
    <li><code>total</code> - Mitu kirjet on üldse kokku</li>
    <li><code>start_index</code> - Millisest kirjest alates hetkel nimekirja kuvatakse</li>
    <li><code>end_index</code> - Milline kirje on kuvatavas nimekirjas viimane</li>
    <li><code>list</code> - Kirjete nimekiri
        <ul>
            <li><code>id</code> - makselahenduse identifikaator</li>
            <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
            <li><code>name</code> - Makselahenduse nimi</li>
        </ul>
    </li>
    
</ul>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XGET "https://<%= apiHost || hostname %>/api/project?access_token=<%= user && user.token || 12345%>"</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": {
        "total": 67,
        "start_index": 0,
        "end_index": 9,
        "list": [
            {
                "id": "51cc029c69d3730000000003",
                "name": "Testkonto 1",
                "type": "ipizza"
            },
            {
                "id": "51cc026c69d3730000000002",
                "name": "Testkonto 2",
                "type": "ec"
            },
            ...
    ]
}</pre>

<h3>Makselahenduse andmete pärimine</h3>

<p>Selle meetodiga saab küsida makselahenduse andmeid. Vajalik on teada makselahenduse <code>id</code> väärtust.</p>

<h4>GET /api/project/:project_id</h4>

<h5>Vastusparameetrid</h5>

<ul>
    <li><code>id</code> - makselahenduse identifikaator</li>
    <li><code>client_id</code> - kliendi tunnuskood pangale edastamiseks</li>
    <li><code>payment_url</code> - maksevormi aadress</li>
    <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
    <li><code>name</code> - Makselahenduse nimi</li>
    <li><code>description</code> - Makselahenduse kirjeldus (kui on määratud)</li>
    <li><code>account_owner</code> - Konto omaniku nimi (kui on määratud)</li>
    <li><code>account_nr</code> - Konto number (kui on määratud)</li>
    <li><code>key_size</code> - Privaatvõtme suurus (kui on määratud)</li>
    <li><code>return_url</code> - Tagasisuunamise aadress peale makse sooritamist (kui on määratud)</li>
    <li><code>private_key</code> - salajane võti panka mineva makse andmete allkirjastamiseks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>bank_certificate</code> - panga sertifikaat pangast saabunud maksekinnituse kontrolliks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>mac_key</code> - Salajane MAC võti päringute allkirjastamiseks ja valideerimiseks (ainult Nordea puhul)</li>
    <li><code>algo</code> - Allkirjastamise algoritm (ainult Nordea puhul)</li>
    <li><code>auto_response</code> - Juhul kui on tõene, siis pank teeb automaatpäringu makse infoga (ainult Nordea puhul)</li>
</ul>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XGET "https://<%= apiHost || hostname %>/api/project/<%= list[0] && list[0]._id || "516e93fd9f89270f97000001" %>?access_token=<%= user && user.token || 12345%>"</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": {
        "id": "516e93fd9f89270f97000001",
        "client_id": "uid402268",
        "payment_url": "https://pangalink.net/banklink/ipizza",
        "type": "ipizza",
        "name": "Testkonto",
        "private_key": "-----BEGIN RSA PRIVATE KEY----- ...",
        "bank_certificate": "-----BEGIN CERTIFICATE----- ..."
    }
}</pre>

<h3>Uue makselahenduse loomine</h3>

<p>Selle meetodiga saad luua uusi makselahendusi. Edastades makselahenduse andmed, saad vastu loodud makselahenduse kasutajatunnuse ning võtmed.</p>

<h4>POST /api/project</h4>

<h5>Sisendparameetrid</h5>

<ul>
    <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
    <li><code>name</code> - Makselahenduse nimi</li>
    <li><code>description</code> - Makselahenduse kirjeldus. Pole kohustuslik</li>
    <li><code>account_owner</code> - Konto omaniku nimi. Vajalik ipizza tüüpi pankade puhul teenuse 1002 kasutamiseks. Pole kohustuslik, vaikimisi kasutatakse makselahenduse nime</li>
    <li><code>account_nr</code> - Konto number. Vajalik ipizza tüüpi pankade puhul teenuse 1002 kasutamiseks. Pole kohustuslik, vaikimisi genereeritakse suvaline number</li>
    <li><code>key_size</code> - Avaliku võtme süsteemi kasutavate pankade puhul privaatvõtme suurus (üks nimekirjast: 1024, 2048, 4096). Pole kohustuslik, vaikimisi kasutatakse 1024</li>
    <li><code>return_url</code> - Tagasisuunamise aadress peale makse sooritamist. Kohustuslik vaid Pankade Kaardikeskuse valiku korral, muudel juhtudel ei kasutata</li>
    <li><code>algo</code> - Allkirjastamise algoritm (üks valikust: md5, sha1). Pole kohustuslik. Vajalik vaid Nordea valiku korral, muudel juhtudel ei kasutata. Kui on määramata, kasutatakse väärtust "MD5"</li>
    <li><code>auto_response</code> - Kas pank peaks tegema automaatpäringu makse teostamisel (<em>true</em> või <em>false</em>. Pole kohustuslik. Vajalik vaid Nordea valiku korral. Vaikimisi automaatpäringut ei tehta</li>
</ul>

<h5>Vastusparameetrid</h5>

<ul>
    <li><code>id</code> - makselahenduse identifikaator</li>
    <li><code>client_id</code> - kliendi tunnuskood pangale edastamiseks</li>
    <li><code>payment_url</code> - maksevormi aadress</li>
    <li><code>type</code> - panga tüüp (üks nimekirjast: swedbank, seb, sampo, krediidipank, ipizza, nordea, ec, swedbank.lv, swedbank.lt, lhv)</li>
    <li><code>name</code> - Makselahenduse nimi</li>
    <li><code>description</code> - Makselahenduse kirjeldus (kui on määratud)</li>
    <li><code>account_owner</code> - Konto omaniku nimi (kui on määratud)</li>
    <li><code>account_nr</code> - Konto number (kui on määratud)</li>
    <li><code>key_size</code> - Privaatvõtme suurus (kui on määratud)</li>
    <li><code>return_url</code> - Tagasisuunamise aadress peale makse sooritamist (kui on määratud)</li>
    <li><code>private_key</code> - salajane võti panka mineva makse andmete allkirjastamiseks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>bank_certificate</code> - panga sertifikaat pangast saabunud maksekinnituse kontrolliks (ainult avaliku võtme süsteemi kasutavate pankade puhul)</li>
    <li><code>mac_key</code> - Salajane MAC võti päringute allkirjastamiseks ja valideerimiseks (ainult Nordea puhul)</li>
    <li><code>algo</code> - Allkirjastamise algoritm (ainult Nordea puhul)</li>
    <li><code>auto_response</code> - Juhul kui on tõene, siis pank teeb automaatpäringu makse infoga (ainult Nordea puhul)</li>
</ul>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XPOST "https://<%= apiHost || hostname %>/api/project?access_token=<%= user && user.token || 12345%>" \
    --data '{
        "type": "ipizza",
        "name": "Testkonto"
    }'</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": {
        "id": "51cc0559fa66e5522c000003",
        "client_id": "uid402268",
        "payment_url": "https://pangalink.net/banklink/ipizza",
        "type": "ipizza",
        "name": "Testkonto",
        "private_key": "-----BEGIN RSA PRIVATE KEY----- ...",
        "bank_certificate": "-----BEGIN CERTIFICATE----- ..."
    }
}</pre>

<h3>Makselahenduse kustutamine</h3>

<p>Selle meetodiga saab kustutada makselahenduse ning sellega seotud andmed.</p>

<h4>DELETE /api/project/:project_id</h4>

<h4><strong>Demo</strong></h4>

<h5>Päring</h5>

<pre>curl -XDELETE "https://<%= apiHost || hostname %>/api/project/<%= list[0] && list[0]._id || "516e93fd9f89270f97000001" %>?access_token=<%= user && user.token || 12345%>"</pre>

<h5>Vastus</h5>

<pre>{
    "success": true,
    "data": true
}</pre>

<h3>API muudatuste ajalugu</h3>

<ul>
    <li><strong>01.07.2013</strong> - lisatud lisaparameetrite võimalus (PANGALINK_NAME, PANGALINK_ACCOUNT, PANGALINK_AUTOPAY)</li>
    <li><strong>29.06.2013</strong> - kustutatud makselahenduse andmetest <code>expiration_time</code> parameeter seoses sertifikaatide aegumise peatamisega</li>
    <li><strong>27.06.2013</strong> - lisatud esimene API versioon, lubatud makselahenduste GET, POST ja DELETE</li>
</ul>