<div class="page-header">
    <h1>Muuda oma profiili</h1>
</div>

<form action="/profile" method="post" class="form-horizontal">

    <div class="form-group <% if(validation.name){%>has-error<%}%>">
        <label class="col-lg-2 control-label" for="name">Sinu nimi</label>
        <div class="col-lg-6">
            <input class="form-control" type="text" name="name" id="name" value="<%= name %>" required/>
            <% if(validation.name){%>
                <span class="help-block"><%= validation.name %></span>
            <%}%>
        </div>
    </div>

    <div class="form-group <% if(validation.company){%>has-error<%}%>">
        <label class="col-lg-2 control-label" for="company">Ettevõtte nimi</label>
        <div class="col-lg-6">
            <input class="form-control" type="text" name="company" id="company" value="<%= company %>" required/>
            <% if(validation.company){%>
                <span class="help-block"><%= validation.company %></span>
            <%}%>
        </div>
    </div>

    <div class="form-group <% if(validation.username){%>has-error<%}%>">
        <label class="col-lg-2 control-label" for="username">E-posti aadress</label>
        <div class="col-lg-6">
            <input class="form-control" type="email" name="username" id="username" value="<%= username %>" disabled/>
            <% if(validation.username){%>
                <span class="help-block"><%= validation.username %></span>
            <%}%>
        </div>
    </div>

    <div class="form-group <% if(validation.username){%>has-error<%}%>">
        <label class="col-lg-2 control-label">Konto tüüp</label>
        <div class="col-lg-6">
            <span class="help-block">
            <span class="label label-<%= accountInfo[user.account.type].label %>"><%= accountInfo[user.account.type].title %></span>
            <%= accountInfo[user.account.type].description %></span>
            <% if(user.account.expires){%>
                <span class="help-block">Ettemaks kuni <strong><%= user.account.expires %></strong></span>
            <% } %>
            
            <% if(user.account.type == "free"){%>
                <span class="help-block"><strong><%= accountInfo.pro.title %></strong> hind on <strong><%= accountInfo.pro.price %></strong>. <%= accountInfo.pro.description %>. Konto tüübi muutmiseks saada kiri aadressile <a href="mailto:info+upgrade.<%= user._id %>@pangalink.net">info@pangalink.net</a></span>
            <% } %>
        </div>
    </div>    

    <div class="bs-callout bs-callout-warning">
      <h4>Parooli vahetus</h4>
      <p>Jäta järgnevad väljad tühjaks, kui ei soovi parooli muuta</p>
    </div>

    <div class="form-group <% if(validation.password){%>has-error<%}%>">
        <label class="col-lg-2 control-label" for="password">Parool</label>
        <div class="col-lg-6">
            <input class="form-control" type="password" name="password" id="password"/>
            <% if(validation.password){%>
                <span class="help-block"><%= validation.password %></span>
            <%}%>
        </div>
    </div>

    <div class="form-group <% if(validation.password2){%>has-error<%}%>">
        <label class="col-lg-2 control-label" for="password2">Korda parooli</label>
        <div class="col-lg-6">
            <input class="form-control" type="password" name="password2" id="password2"/>
            <% if(validation.password2){%>
                <span class="help-block"><%= validation.password2 %></span>
            <%}%>
        </div>
    </div>

    <div class="bs-callout bs-callout-warning">
      <h4>Yubikey</h4>
      <p>Soovi korral võid parooli asemel kasutada <a href="http://www.yubico.com/products/yubikey-hardware/yubikey/">Yubikey</a> võtit.</p>
    </div>

    <div class="form-group <% if(validation.yubi){%>has-error<%}%>">
        <label class="col-lg-2 control-label" for="yubi">Yubikey identiteet või ühekordne parool</label>
        <div class="col-lg-6">
            <input class="form-control" type="text" name="yubi" id="yubi" value="<%= yubi %>"/>
            <% if(validation.yubi){%>
                <span class="help-block"><%= validation.yubi %></span>
            <%}%>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-2"></div>
        <label class="col-lg-6"><input type="checkbox" name="useyubi" id="useyubi" <%= useyubi ? 'checked="checked"' : '' %>/> Luba sisselogimisel ainult Yubikey kasutamine</label>
    </div>

    <div class="form-group">
        <div class="col-lg-2"></div>
        <div class="col-lg-6"><button type="submit" class="btn">Uuenda profiili andmeid</button></div>
    </div>

</form>
